<!DOCTYPE html>
<html lang="en">
<head>
	<% include ./partials/head %>
	<title>K-NEAREST NEIGHBOR</title>
</head>
<body>
	<% include ./partials/body %>
	<!-- <nav id="upper" class="navbar navbar-expand-sm bg-dark navbar-dark">
		<button type="button" id="sidebarCollapse" class="btn btn-info">
			<i class="fas fa-align-left"></i>
			<span></span>
		</button>
		<h3 style="color: whitesmoke;">K-NN</h3>
	  </nav> -->

<a href="/ggwp">try ggwp cuk</a>

	
	  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<ul class="navbar-nav">
			  <li class="nav-item">
					<button type="button" id="sidebarCollapse" class="btn btn-info">
							<i class="fas fa-align-left"></i>
							<span></span>
						</button>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#home">Home</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#card">Kartu Pemain</a>
			  </li>
			  <li class="nav-item">
					<a class="nav-link" href="#formasi">Formasi</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="#tentang">Tentang</a>
				  </li>
			</ul>
		  </nav>
		  

	<div class="wrapper">
		<!-- Sidebar -->
		<nav id="sidebar">
			<div class="sidebar-header">
				<h3>K-NN APPS</h3>
			</div>
	
			<ul class="list-unstyled components">
				
						<li>
							<a href="#">Pemain Terdaftar</a>
						</li>
						<li>
							<a href="#">Tambah Pemain</a>
						</li>
						<li>
							<a href="#">Klasifikasikan Pemain</a>
						</li>
					
				<li>
					<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Formasi</a>
					<ul class="collapse list-unstyled" id="pageSubmenu">
						<li>
							<a href="#">Formasi Tersimpan</a>
						</li>
						<li>
							<a href="#">Formasi Baru</a>
						</li>
					</ul>
				</li>
				<!-- <li>
					<a href="#">Portfolio</a>
				</li>
				<li>
					<a href="#">Contact</a>
				</li> -->
			</ul>
		</nav>

		
		<div id="content">
		
			<!-- HOME -->
			<div id="home">
			<h1>KNN-APPS</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<br>
			<!-- PLAYER CARD -->
			<h3>PLAYER CARDS</h3>
			<br>
			<div class="container-fluid" id="card">
				
				<div class="row">
					<div class="col-sm-3" >
						<h6>Kiper</h6>
					</div>
					<div class="col-sm-3">
							<h6>Bek</h6>
								<h6><%= data %></h6>
						</div>
						<div class="col-sm-3">
								<h6>Gelandang</h6>
							</div>
							<div class="col-sm-3">
									<h6>Striker</h6>
								</div>
				</div>
			</div>
				  
		</div>
		
		
		
	</div>
	
</body>
</html>